{%extends "paginas/base.html/"%}

{% block titulo %} Inicio {% endblock titulo %}

{% csrf_token %}


{% block contenido %}

{% load crispy_forms_tags %}



<br>
<br>
<br>

<div class="container">
  
    <div class="card mx-auto" style="width: 30rem;">

      <div class="card-body">
        <h5 class="card-title">Registre Usuario</h5>
          <form action="" method="post">
            {% csrf_token %}
            {{form | crispy}}
            
            <a href="{% url 'login' %}">Iniciar Sesión</a>
            <input type="submit" value="Registrarse" class= "btn btn-success float-rigth">
          
          </form>
        

      </div>

    </div>
</div>

{% endblock contenido %}